---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于本站"
	description="本站的信息"
	pubDate={new Date('August 14 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		这里是小雨的Paper，基于Workers的静态页面，是展示界面的好帮手。
	</p>
</Layout>
