---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于本站"
	description="本站的信息"
	pubDate={new Date('August 14 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
<p>欢迎下载京通铁路MSTS线路，本线路兼容OR单机、联机模式，祝你玩得开心！</p>
<h2 id="简介">简介</h2>
<p><img src="https://pic1.imgdb.cn/item/68954bb958cb8da5c81091c9.png" alt="封面图">
京通铁路Beta4为现京通铁路的全线（昌平北-通辽），游戏内总里程720KM+，并包含50KM+的隆承铁路（隆化-承德）。在京通铁路中，你可以驾驶沈局SS9/SS9G机车驰骋在广阔的松辽平原和科尔沁沙地，服务沿线敖汉旗和奈曼旗的出行需求；也可以驾驶DF4D型和HXN3型内燃机车爬上险峻的燕山山脉，通过位于京通铁路最高点的纪家沟车站；亦或是驾驶DF4C型和HXN5型内燃机车，烘烤电气化不久的北京局区间接触网；你也可以化身市郊列车驾驶员，驾驶北京市郊铁路S5线的怀密号动车组，穿行在北京市北部的昌平区、怀柔区和密云区，服务市郊客流。</p>
<h2 id="下载">下载</h2>
<p>使用<strong>小雨的文件存储</strong>下载：<a href="https://cloud.kosame.cn/s/2OSO">小雨的文件存储：JingTong_B4</a></p>
<p>使用<strong>直链</strong>下载：<a href="https://r2.kosame.cn/JingTong_B4.zip">直链下载：JingTong_B4</a></p>  </div> </article> </main> <footer data-astro-cid-sz7xmlte>
</Layout>
